*{
    margin: 0px;
    padding: 0px;
}

section{
    display: flex;
}

.div1{
    width: 50%;
    height: 300px;
    background-color: blue;
    color: white;
}

.div1 h1{
    padding: 40px;
}

.div2{
    width: 50%;
    height: 300px;
    /* background-color: red; */
    background-image: url('image.jpg');
    background-size: cover;
}

@media screen and (max-width: 620px) {
    .div1, .div2{
        width: 100%;
    }

    section{
        display: block;
    }
  }